{% extends 'base.html' %}

{% block active_articles %}
active
{% endblock %}

{% block sidebar %}
<ul>
    <li><a href='/articles/all/'>Articles</a></li>
	<li><a href='/admin/'>Admin</a></li>
</ul>
{% endblock %}

{% block content %}

<h2>Language is: {{ language }}</h2>
<h2>Session Language is: {{ session_language }}</h2>

{% if articles.count > 0 %}

{% for article in articles %}
<div>
<h2><a href="/articles/get/{{ article.id }}/">{{ article.title }}</a></h2>
<p>{{ article.body|lower|truncatewords:"5" }} </p>
</div>
{% endfor %}

{% else %}

<p>None to show!</p>

{% endif %}

{% endblock %}
