{% block navbar %}

<div class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Day4</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="{% block active_articles %}{% endblock %}"><a href="{% url 'articles:all' %}">Articles</a></li>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../navbar-fixed-top/">Fixed top</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</div>

{% endblock %}
